.footer {
  background-color: #e08383;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footerContent {
  max-width: 1200px;
  margin: 0 auto;
}
